<h1 class="text-center">How to post your spotify mix</h1>
<br>
<br>
<h2 class="text-center">Step 1: find your playlist and click "Share", then click "Copy Embed Code"</h2>
<br>
<div class=""><img src="/assets/images/howto/step1.jpg" height="200px" width="200px" alt="image"></div>
<br>
<br>
<h2 class="text-center">Step 2: Paste the code into the embed form on the add new mixtape page</h2>
<br>
<br>
<h2 class="text-center">Step 3: delete everything except the embed link inside of the qoutes </h2>
<div><img src="/assets/images/howto/2.png" alt="image"></div>
<div><img src="/assets/images/howto/3.png" alt="image"></div>
<div><img src="/assets/images/howto/2.png" alt="image"></div>
