<body>
  <div class="ror">
    <br>
    <hr>
    <br>
    <ul class="text-center">
      <li>Ruby on Rails</li>
      <li>ActiveRecord</li>
      <li>MVC</li>
      <li>CRUD</li>
      <li>Databases</li>
      <li>PostGreSQL/SQL</li>
      <li>Bootstrap</li>
      <li>HTML(5) & CSS(3)</li>
      <li>Sessions</li>
      <li>Users</li>
      <li>Oauth</li>
      <li>Authentication</li>
      <li>Image uploading</li>
      <li>Javascript basics</li>
      <li>ERB</li>
      <li>Converting static page into dynamic</li>
      <li>Methods & Classes</li>
      <li>Application secrets with .env</li>
      <li>Asset pipeline</li>
      <li>Validations & errors</li>
      <li>Deploying a website</li>
    </ul>
  </div>
  <hr>
  <h3 class="text-center">Please check out my<a href="https://jusixo.github.io/"> portfolio</a> to see more of my work</h3>
</body>
