.jumbotron {
  color: #FE7F2D;
  font-family: 'Dancing Script', cursive;
  text-transform: none;
}

.info-about {
  margin-top: 100px;
  margin-bottom: 50px;
}

.info {
  text-decoration: underline;
  color: rgb(172, 81, 41);
}

.about {
  text-decoration: underline;
  color: rgb(50, 117, 163);
}
