.info {
  text-decoration: underline;
  color: rgb(172, 81, 41);
}

.about {
  text-decoration: underline;
  color: rgb(50, 117, 163);
}

.jumbotron {
  color: #FE7F2D;
  font-family: 'Dancing Script', cursive;
  text-transform: none;
}
