.mixtape_image {
  min-height:100%;
  height:400px;
  width: 200px;
  min-width:100%;
}

.gallery-box {
  margin-right: 5px;
  margin-left: 5px;
  margin-bottom: 10px;
  text-align: center;
  font-size: 160%;
  color: white;
  border: solid;
  border-width: thin;
  border-radius: 5px;
}

.user-mixtapes {
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10px;
  list-style: none;
  border-style: solid;
  word-wrap: break-word;
  width:400px;
  height: 300px;
  padding-top:5px;
  padding-left: 10px;
  padding-right: 20px;
  border-style:solid;
  border-color:#336699;
  border-width:1px;
  padding-left:3px;
  padding-bottom:10px;
  margin: 20px;
}

.how-to {
  padding-top: 200px;
  margin-top: 100px;
  margin-right: 300px;
  margin-left: 300px;
  margin-bottom: 100px;
  text-align: 20px;
  font-size: 160%;
  border-width: thin;
  border-radius: 5px;
}

.how-to-img {
  margin-right: 5px;
  margin-left: 400px;
  margin-bottom: 10px;
  text-align: center;
  font-size: 160%;
  border-width: thin;
  border-radius: 5px;
  width: 400px;
  height: 400px;
}
